<div class="card app-card">
  <div class="card-body d-flex flex-column">
  <i class="fa-background fa fa-<%= @item[:fa_icon] || 'bars' %>"></i>
    <h5 class="card-title">
      <%= @item[:title] %>
    </h5>
    <% if @item[:subtitle] %>
      <h6 class="card-subtitle mb-2 text-muted">
        <%= @item[:subtitle] %>
      </h6>
    <% end %>
    <%= yield %>
    <div class="mt-auto">
      <a href="<%= @item[:path] %>" class="card-link btn btn-success btn-block">
        Go!
      </a>
    </div>
  </div>
</div>
