<div class="blurb">
  <% if branding('landingpage.dashboard.logo') %>
    <div class="mb-2 branding-landingpage-dashboard-logo-wrapper">
      <img
        src="<%= prefix_url(branding('landingpage.dashboard.logo.url')) %>"
        alt="<%= branding('landingpage.dashboard.logo.alt') || 'Environment logo' %>"
        class="logo <%= branding('landingpage.dashboard.logo.classNames') %> branding-landingpage-dashboard-logo"
        >
      </img>
    </div>
  <% end %>
  <% if environment('environment.name') %>
    <h3 class="text-center">Welcome to the <%= environment('environment.name') %> compute environment.</h3>
    <h4 class="powered-by">
      Powered by <%=
        branding('landingpage.dashboard.powered_by.text') ||
          "OpenflightHPC and the Flight User Suite."
        %>
    </h4>
  <% end %>
  <%= yield %>
</div>
