<div class="card config-pack-card">
  <div class="card-body d-flex flex-column">
  <i class="fa-background fa fa-<%= @item[:fa_icon] || 'bars' %>"></i>
    <h5 class="card-title">
      <%= @item[:title] %>
    </h5>
    <% if @item[:subtitle] %>
      <h6 class="card-subtitle mb-2 text-muted">
        <%= @item[:subtitle] %>
      </h6>
    <% end %>
    <%= yield %>
    <div class="mt-auto">
      <h6 class='card-subtitle mb-2 text-muted'>
        Downloads
      </h6>
      <% @item[:configs].each do |parts| %>
        <%
          parts = Array[parts] unless parts.is_a?(Array)
          text = parts.first
          package_name = File.basename(@item.identifier, '.*')
          link_name = (parts.length > 1 ? parts[1] : text)
          link = File.join('downloads', 'config-packs', package_name, link_name)
        %>
      <a href="<%= link %>" class="link-primary" download><%= text %></a><br>
      <% end %>
    </div>
  </div>
</div>
