<div class="card config-pack-card">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">
      <%= @item[:title] %>
    </h5>
    <% if @item[:subtitle] %>
      <h6 class="card-subtitle mb-2 text-muted">
        <%= @item[:subtitle] %>
      </h6>
    <% end %>
    <%= yield %>
    <div class="mt-auto">
      <h6 class='card-subtitle mb-2 text-muted'>
        Downloads
      </h6>
      <% if @item[:downloads].nil? %>
        <p><em>Nothing to see here...</em></p>
      <% else %>
        <div class="list-group">
          <%
            @item[:downloads].each do |parts|
              file_name = parts[:file_name]
              raise "Each downloads entry requires a 'file_name'" unless file_name
              text = parts.fetch(:display_name, file_name)
              package_name = File.basename(@item.identifier, '.*')
              # XXX: Consider making the /downloads prefix configurable
              link = File.join('/downloads', 'config-packs', package_name, file_name)
          %>
            <span class="list-group-item list-group-item-action">
              <i class="fa fa-<%= parts.fetch(:fa_icon, 'file-o') %> mr-1"></i>
              <a href="<%= link %>" rel="noopener"><%= text %></a>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
