<div class="environment">
  <% if branding('landingpage.dashboard.logo') %>
    <div class="mb-2">
      <img
        src="<%= branding('landingpage.dashboard.logo.url') %>"
        alt="<%= branding('landingpage.dashboard.logo.alt') || 'Environment logo' %>"
        class="logo <%= branding('landingpage.dashboard.logo.classNames') %>"
        >
      </img>
    </div>
  <% end %>
  <h3 class="text-center"><%= branding('environment.name') %></h3>
  <%= yield %>
</div>
