---
title: Home
---
<h1>Welcome to
  <% if environment('environment.name') %>
    the <strong class="blue-text"><%= environment('environment.name') %></strong>
  <% else %>
    your
  <% end %>
  compute environment.
</h1>
<%= apps_item.compiled_content(snapshot: :pre_default) %>
<%= blurb.compiled_content(snapshot: :pre_default) %>
<%= config_packs_item.compiled_content(snapshot: :pre_default) %>
<%= links_item.compiled_content(snapshot: :pre_default) %>
<%= tools_item.compiled_content(snapshot: :pre_default) %>
