<a
  class="card link useful-link"
  href="<%= prefix_url(@item[:href]) %>"
  target="_blank"
  <% if @item[:tooltip] %>
  title="<%= @item[:tooltip] %>"
  <% end %>
>
  <i class="fa fa-solid fa-<%= @item[:icon] || 'external-link' %>"></i>
  <div class="text">
    <h4
      class="card-title card-text"
    >
      <%= @item[:title] %>
    </h4>
    <% if @item[:text] %>
      <p
        class="card-subtitle card-text"
      >
        <%= @item[:text] %>
      </p>
    <% end %>
  </div>
</a>
