<nav class="navbar navbar-expand-lg navbar-light bg-white brandbar">
    <% if branding('brandbar.logo') %>
      <a
        class="navbar-brand"
        href="<%= prefix_url("/") %>"
      >
        <img
          class="<%= branding('brandbar.logo.classNames') %> branding-brandbar-logo"
          src="<%= prefix_url(branding('brandbar.logo.url')) %>"
          alt="<%= branding('brandbar.logo.alt') %>"
        >
      </a>
    <% else %>
      <a
        class="navbar-brand"
        href="<%= prefix_url("/") %>"
      >
        <img
          class="<%= branding('brandbar.logo.classNames') %> branding-brandbar-logo"
          src="<%= prefix_url("/images/png_trans_logo-navbar.png") %>"
          alt="openflightHPC Logo"
        >
      </a>
    <% end %>
    <% if text = branding('brandbar.text') %>
      <div class="branding-brandbar-text-wrapper">
        <span class="branding-brandbar-text">
          <%= text %>
        </span>
      </div>
    <% end %>

    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavContainer"
        aria-controls="navbar SupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-nav-container" id="navbarNavContainer">
        <ul class="navbar-nav">
            <% unless app_items.empty? %>
              <li class="nav-item dropdown">
                  <div class="btn-group">
                      <a
                          class="nav-link nav-menu-button"
                          href="<%= prefix_url("/apps") %>"
                      >
                          <%=
                            branding('brandbar.apps_link.text') ||
                              'Web Suite'
                            %>

                      </a>
                      <a
                          type="button"
                          class="dropdown-toggle dropdown-toggle-split"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                      >
                          <span class="sr-only">Toggle Dropdown</span>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                          <% app_items.each do |app| %>
                              <a
                                  href="<%= prefix_url(app[:path]) %>"
                                  class="dropdown-item"
                              >
				  <span class="fa fa-solid fa-fw fa-<%= app[:fa_icon] %>"></span>
				  <span class="title"><%= app[:short_title] || app[:title] %></span>
                              </a>
                          <% end %>
                      </div>
                  </div>
              </li>
            <% end %>
            <% unless config_pack_items.empty? %>
              <li class="nav-item">
                  <a
                      class="nav-link nav-menu-button"
                      href="<%= prefix_url("/config-packs") %>"
                  >
                      Config Packs
                  </a>
              </li>
            <% end %>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
              <div id="flight-account-menu"></div>
            </li>
        </ul>
    </div>
</nav>
