<nav class="navbar navbar-expand-lg brandbar">
  <a
    class="navbar-brand"
    href="<%= prefix_url("/") %>"
  >
    <img
      class="<%= branding('brandbar.logo.classNames') %> branding-brandbar-logo"
      <% if branding('brandbar.logo') %>
      src="<%= prefix_url(branding('brandbar.logo.url')) %>"
      alt="<%= branding('brandbar.logo.alt') %>"
      <% else %>
      src="<%= prefix_url("/images/openflighthpc_white.svg") %>"
      alt="OpenFlightHPC Logo"
      <% end %>
      >
  </a>
  <div class="branding-brandbar-text-wrapper">
    <% text = branding('brandbar.text') %>
    <% if text %>
        <span class="branding-brandbar-text">
          <%= text %>
        </span>
    <% end %>
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavContainer"
    aria-controls="navbar SupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon link white-text fa-solid fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse navbar-nav-container" id="navbarNavContainer">
    <ul class="navbar-nav">
      <% unless app_items.empty? %>
        <li class="nav-item signed-in-content <%= 'bordered-nav-item' unless config_pack_items.empty? %>">
          <div class="btn-group">
            <% app_items.each do |app| %>
              <a
                href="<%= prefix_url(app[:path]) %>"
                class="nav-link nav-menu-button white-text"
              >
                <span class="title"><%= app[:short_title]&.upcase || app[:title]&.upcase %></span>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
      <% unless config_pack_items.empty? %>
        <li class="nav-item">
          <a
            class="nav-link nav-menu-button white-text"
            href="<%= prefix_url("/config-packs") %>"
          >
            CONFIG PACKS
          </a>
        </li>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <div class="d-flex top-right">
        <li class="nav-item">
          <div id="flight-account-menu"></div>
        </li>
        <li class="nav-item">
          <a
            href="https://alces-flight.com/"
            class="link"
            target="_blank"
          >
            <img
              class="branding-brandbar-logo"
              alt="Powered by Alces Flight"
              src="<%= prefix_url("/images/poweredby_white.svg") %>"
            >
          </a>
        </li>
      </div>
    </ul>
  </div>
</nav>
