<div class="environment">
  <% if env[:logo_url] %>
    <div class="mb-2">
      <img
        src="<%= env[:logo_url] %>"
        alt="Environment Logo"
        className="center"
        width="100%"
        >
      </img>
    </div>
  <% end %>
  <h3 class="text-center"><%= env[:name] %></h3>
  <%= env.compiled_content %>
  <% unless env[:contacts].empty? %>
    <h5>Contacts</h5>
    <ul>
    <% env[:contacts].each do |contact| %>
      <li class="d-flex justify-content-between">
        <span><%= contact[:name] %></span>
        <a
          class="mx-1"
          href="mailto:<%= contact[:email] %>"
          title="<%= contact[:email] %>"
        >
          <span class="fa fa-envelope"></span>
        </a>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
